<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <!-- <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button> -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <h1 class="title">
      活动导航
    </h1>
    <div class="buttons">
      <button class="button button-clear ion-navicon-round" ng-click="openPopover($event)">
      </button>
    </div>
  </ion-nav-bar>

  <ion-content scroll="true">
    <ion-list>
      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-document-text" style="background: #F3893C" href="#/simple/activityList/300"></a>
            <p class="text-center-2"><b>生活娱乐</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-compose" style="background: #FA6469"  href="#/simple/activityList/301">
            </a>
            <p class="text-center-2"><b>众乐乐</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-information" style="background: #46CECE"  href="#/simple/activityList/302">
            </a>
            <p class="text-center-2"><b>青年旅游</b></p>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-chatbox-working" style="background: #93CE68"  href="#/simple/activityList/304">
            </a>
            <p class="text-center-2"><b>日用品</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-social-buffer" style="background: #C761AA"  href="#/simple/activityList/303">
            </a>
            <p class="text-center-2"><b>中介服务</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-social-twitter" style="background: #DCBF82"  href="#/simple/activityList/306">
            </a>
            <p class="text-center-2"><b>大宗团购</b></p>
          </div>
        </div>
      </ion-item>    
    </ion-list>
  </ion-content>

  <!-- <ng-include src="'templates/common/footer.html'"></ng-include> -->

</ion-view>