<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
      用户协议
    </h1>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true">
    <ion-list>
      <ion-item>
        <b>版权声明</b>
      </ion-item>
      <ion-item>
        {{content1}}
      </ion-item>

      <ion-item>
        <b>免责声明</b>
      </ion-item>
      <ion-item>
        {{content2}}
      </ion-item>

      <ion-item>
        <b>用户协议</b>
      </ion-item>
      <ion-item>
        {{content3}}
      </ion-item>

      <ion-item>
        <b>附则</b>
      </ion-item>
      <ion-item>
        {{content4}}
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>