<ion-view>
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
      个人留言
    </h1>
    <div class="buttons">
      <button class="button button-clear ion-navicon-round" ng-click="openPopover($event)">
      </button>
    </div>
  </ion-nav-bar>

  <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-positive">
    <ion-tab title="我的留言" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline" on-select='tabNav()'>
      <ion-content>
        <ion-list ng-repeat="item in items">
          <ion-item>
            <h2>To: {{item.name}}<span class="item-note">{{item.date}}</span></h2>
            <p>内容：{{item.message}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="我的回复" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline" on-select='tabNav()'>
      <ion-content>
        <ion-list ng-repeat="item in items">
          <ion-item>
            <h2>To: {{item.name}}<span class="item-note">{{item.date}}</span></h2>
            <p>内容：{{item.message}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>

  <!-- <ng-include src="'templates/common/footer.html'"></ng-include> -->

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>