<ion-view>
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
        签到管理
    </h1>
    <div class="buttons">
      <button class="button button-clear ion-navicon-round" ng-click="openPopover($event)">
      </button>
    </div>
  </ion-nav-bar>
  
  <ion-content class="has-footer">
    <div class="list list-inset">
      <ion-item>
        姓名：{{userName}}
      </ion-item>
      <ion-item>
        ID：{{userID}}
      </ion-item>
    </div>

    <button class="button button-block button-positive">
        签到
    </button>
    <ion-list>
      <ion-item>
        当日签到人数:{{currentNum}}
      </ion-item>
      <ion-item>
        待检人数:{{toBeChecked}}
      </ion-item>
    </ion-list>
  </ion-content>

  <ng-include src="'templates/common/footer.html'"></ng-include>

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>