<ion-view>

  <!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7 hide">
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> </ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-content scroll="false" class="has-footer">

    <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000">
      <ion-slide>
        <div class="box">
          <img src="img/mainImg3.png" class="img-responsive center-block">
          <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src="img/mainImg5.png" class="img-responsive center-block">
          <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”APP</h4>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="padding position">
      <div class="row">
        <div class="col">
          <a href="#/main/newsHomepage" class="button center-block-1 positive-bg">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-information-circled">
              </i>
            </span>
            团青时讯
          </a>
        </div>
        <div class="col">
          <a href="#/main/knowlbase" class="button center-block-1" style="background: #01BCE4">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-android-share">
              </i>
            </span>
            智汇共享
          </a>
        </div>
        <div class="col">
          <a href="#/main/activityHomepage" class="button center-block-1" style="background: #82A8FF">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-link">
              </i>
            </span>
            智慧链接
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#/main/brand" class="button center-block-1 assertive-bg">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-ios7-star">
              </i>
            </span>
            一团一品
          </a>
        </div>
        <div class="col">
          <a href="#/main/career" class="button center-block-1" style="background: #FF9F08">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-social-usd">
              </i>
            </span>
            青年创业
          </a>
        </div>
        <div class="col">
          <a href="#/main/love" class="button center-block-1 energized-bg">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-person-stalker">
              </i>
            </span>
            智会相亲
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#/main/beauty" class="button center-block-1" style="background: #22AC38">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-heart">
              </i>
            </span>
            最美浙江
          </a>
        </div>
        <div class="col">
          <a href="#/main/life" class="button center-block-1" style="background: #5EBE00">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-fork">
              </i>
            </span>
            智惠生活
          </a>
        </div>
        <div class="col">
          <a href="#/main/personHomepage" class="button center-block-1" style="background: #84D018">
            <span class="img-responsive center-block cell-img img-size" style="color:#FFF;"> 
              <i class="icon ion-gear-a">
              </i>
            </span>
            我的定制
          </a>
        </div>
      </div>
    </div>

  </ion-content>

  <ng-include src="'templates/common/footer.html'"></ng-include>

</ion-view>