<ion-view>
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
      智慧团青
    </h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </div>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher pulling-text="释放刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <a class="item item-avatar" ng-repeat="item in articleLists" ng-href="#/simple/article/{{item[0]}}">
        <img ng-src="{{item[2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + item[2] || 'http://17f.go5le.net/99_tj/img/m2.png'}}">
        <h2><b>【{{item[4]}}】{{item[1]}}</b></h2>
        <p>浏览{{item[6]}}次<span class="p-right">{{item[3]}}</span></p>
      </a>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="0%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

<script type="text/javascript">
  
    var startTest = function() {
      /* Note: this is using version 2.x of the imagesloaded library, use of current version might differ */
      $('body').imagesLoaded(function($images, $proper, $broken ) {

        // see console output for debug info
        ImgCache.options.debug = true;
        ImgCache.options.usePersistentCache = true;
  
        ImgCache.init(function() {
          // 1. cache images
          for (var i = 0; i < $proper.length; i++) {
            ImgCache.cacheFile($($proper[i]).attr('src'));
          }
          // 2. broken images get replaced
          for (var i = 0; i < $broken.length; i++) {
            ImgCache.useCachedFile($($broken[i]));
          }

        });
      });
    };

    if (typeof(cordova) !== 'undefined') {
      // cordova test
      document.addEventListener('deviceready', startTest, false);
    } else {
      // normal browser test
      $(document).ready(startTest);
    }
</script>