<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
      收藏
    </h1>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-plus-empty" ng-click="show($event)">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true">
    <div class="row">
      <div class="col text-center">
        <a class="button round-button icon ion-document-text" style="background: #F3893C" href="#/simple/articleList/300"></a>
        <p class="text-center-2"><b>通知公告</b></p>
      </div>

      <div class="col text-center">
        <a class="button round-button icon ion-ios7-compose" style="background: #FA6469"  href="#/simple/articleList/301">
        </a>
        <p class="text-center-2"><b>团讯要闻</b></p>
      </div>

      <div class="col text-center">
        <a class="button round-button icon ion-ios7-information" style="background: #46CECE"  href="#/simple/articleList/302">
        </a>
        <p class="text-center-2"><b>头条新闻</b></p>
      </div>
    </div>
  </ion-content>
</ion-view>