<ion-view>
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
      <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon">
      </button> -->
    </ion-nav-buttons>
    <h1 class="title">
      搜索
    </h1>
    <ion-nav-buttons side="right">
      
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list list-inset">
      <div class="item item-input-inset">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="查找..." ng-model="item.searchContent">
        <button-clear-input></button-clear-input>
       <!--  <button ng-if="item.searchContent.length"
          class="button button-icon ion-android-close input-button padding-right"
          ng-click="clearSearch()">
        </button> -->
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-positive">
        查找
      </button>
    </div>
  </ion-content>
</ion-view>